@import url(fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

body {
    margin: 0;
    padding: 0;
    line-height: 1.50;
    font-family: open-sans, helvetica;
    font-size: 16px;
    background-color: #864846;
}
header {
    padding: 90px 0;
    text-align: center;
    color: #ffffff;
}
header h3 {
    margin: 10px;
    background-color: #a0a0ee;
    border-radius: 25px;
}
span {
    text-decoration: underline;
    color: #00f;
}

section {
    text-align: center;
    color: #000;
    background: #bb0;
    padding: 50px 0;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 2px #aa0, -3px -1px 3px 2px #aa0;
    line-height: 1.2;
}

section h2, h1 {
    margin-top: -10px;
    color: #00f;
    text-decoration: underline;
}

cite {
    color: beige;
}
cite:before {
    content: '-';
    padding: 0 0 0 10px;
}

footer {
    color: #fff;
    background: #000;
    padding: 32px 0;
    text-align: center;
}

ul {
    margin: 10px auto;
    font-size: 16px;
}
li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
    font-size: 1.5em;
}
ul a {
    text-decoration: none;
    color: #fff;
}
 footer p {
    color: #c0c0c0;
    font-size: 12px;
 }

 @media screen and (max-width: 480px) {
     body {
	 font-size: 14px;
	 line-height: 1.25;
     }

     header h1 {
	 padding: 0 auto 20px auto;
	 margin: 0 auto 20px auto;
     }

     section blockquote {
	 font-size: 14px;
     }

     footer ul li {
	 display: block;
	 font-size: 13px;
	 padding: 0 auto;
	 margin: 0 auto;
     }
     footer p {
	 font-size: 12px;
	 margin-left: 30px;
     }
     footer {
	 margin: auto;
	 padding: auto;
     }
 }
